.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.Paw{
    
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    animation: moveBanners 0.5s 0.6s forwards;
}

@keyframes moveBanners{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
        font-size: 1rem;
    }
    100%{
        transform: translateY(0rem) rotateY(0);
        opacity: 1;
        font-size: 4rem;
    }
}

.modal .container{
    position: fixed;
    max-width: 600px;
    top:15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5em 2rem;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.close{
    background-color: #F65835;
    border: 0;
    color:#FFF;
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 15px;
    border-radius: 5px;
}

.close svg {
    margin-right: 5px;
}

.modal h2{
    margin-bottom: 1.2em;
    font-size: 2em;
}

.modal span{
    font-weight: bold;
    font-size: 1.2em;
    color:#121212;
}

.modal span a{
    font-weight: 400;
    margin-right: 1em;
    padding: 2px 8px;
    border-radius: 3px;
}

.row{
    margin-bottom: 1em;
}

.modal p{
    padding-top: 0.5em;
    white-space: pre-wrap;
}